* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  color: #797676;
  text-align: left;
  background-color: #e6e9f8;
}

.app {
  width: 100%;
}

.title {
  color: rgb(66, 66, 66);
}

.label {
  margin-right: 10px;
}

.input {
  border:  none;
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;
}

.container {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #797676;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  width: 100%;
  margin: 10px auto;
}

.button {
  border-radius: 5px;
  position: relative;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  color: white;
  background: #3143a8;
  background: linear-gradient(90deg, #3143a8 50%, lighten(#3143a8, 15%) 100%);
  background-size: 200%;
  border: none;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.1s, background-position 0.5s ease-in-out;

  &:hover {
    background-position: right;
  }

  &:active {
    transform: scale(0.95);
  }
}
