* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  color: #797676;
  text-align: left;
  background-color: #e6e9f8;
}

.app {
  width: 100%;
}

.title {
  color: rgb(66, 66, 66);
}
