body {
  font-size: 18px;
  margin: 0;
  color: #333;
  background-color: rgb(246, 246, 253);
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 100px;
  height: 100%;
}