*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  font-size: 18px;
  margin: 0;
  color: #333333;
  background-color: #f6f6fd;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 100px;
  height: 100%;
}

img {
  width: 100%;
}

a {
  color: #393052;
}

address {
  font-style: normal;
}

thead {
  background-color: #b2b6db;
}

th,
td {
  padding: 5px 5px 5px 0;
  border-bottom: 1px solid #f0f0f0;
}

h3,
h4 {
  padding: 0;
  margin: 0;
}

tr:hover {
  background-color: #e2e2e2;
  cursor: pointer;
}

label {
  display: inline-block;
}

thead {
  position: sticky;
  top: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: #cc6699;
  height: 100px;
}
.header-container {
  padding: 20px 10px;
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
}
.header-text {
  font-size: 22px;
  color: #dfdfdf;
}

.logo {
  width: 100%;
  height: 60px;
  max-width: 60px;
  background: center/cover no-repeat url("./img/cat.png");
}

.horizontal-menu {
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
}
.horizontal-menu ul {
  list-style: none;
  margin: 0px;
  padding: 10px 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: nowrap;
  align-items: center;
  gap: 20px;
}

.menu-link {
  color: #dfdfdf;
  font-weight: 500;
  text-decoration: none;
}

.main {
  padding-top: 100px;
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: normal;
}

.content {
  width: 70%;
  max-width: 1140px;
  padding: 10px;
}

.img-left {
  float: left;
  max-width: 220px;
  margin: 0 30px 10px 0;
}

.img-right {
  float: right;
  max-width: 220px;
  margin: 0 0px 10px 30px;
}

.sidebar {
  padding: 10px;
  width: 30%;
  max-width: 300px;
}

.menu {
  list-style: none;
}

.menu li:nth-child(1) {
  background-color: #d581ab;
}

.menu li:nth-child(2) {
  background-color: #de9cbd;
}

.menu li:nth-child(3) {
  background-color: #e7b6cf;
}

.menu-item {
  width: 100%;
  padding: 5px;
}
.menu-item:hover {
  background-color: #e4e4e4;
  cursor: pointer;
}
.menu-item a {
  display: inline-block;
  width: 100%;
}

.radio-blue,
.radio-green {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.radio-blue:checked ~ .table-wrapper table {
  background-color: #d7d9f1;
}

.radio-green:checked ~ .table-wrapper table {
  background-color: #dcf1d7;
}

.radio-green:checked ~ .table-wrapper table thead {
  background-color: #83cc71;
}

.table-wrapper {
  margin-top: 20px;
  max-width: 100%;
  max-height: 600px;
  overflow: auto;
  margin-bottom: 50px;
}

.table {
  width: 800px;
  min-width: 100%;
  text-align: left;
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
}

.news-section {
  padding-top: 20px;
  clear: both;
}

.news-container {
  width: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 15px;
  padding-bottom: 50px;
}

.news-item {
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  width: 31%;
  min-width: 200px;
  min-height: 400px;
  overflow: hidden;
  border-radius: 5px;
}

.news-image-container {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.news-image-container a {
  display: block;
  color: white;
  width: 100%;
  height: 100%;
  text-decoration: none;
  background-size: cover;
}
.news-image-container img {
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  height: 100%;
}

.news-title {
  color: white;
  position: absolute;
  top: 10px;
  left: 10px;
  max-width: 90%;
  font-weight: 600;
  z-index: 2;
}

.news-date {
  padding: 10px 10px 5px 10px;
  font-size: 14px;
  color: #9e9e9e;
}

.news-image-cover {
  width: 100%;
  height: 100%;
  background: #030303;
  background: linear-gradient(180deg, #030303 25%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.news-description {
  margin: 0;
  padding: 5px 10px;
}

.form-section {
  padding: 20px 0;
  margin-bottom: 50px;
}

.form {
  padding: 10px;
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  max-width: 300px;
}

.form-field {
  margin: 10px 0;
}

.text-area,
.input {
  border: 1px solid #cccccc;
  background: none;
  display: block;
  width: 100%;
  padding: 10px 8px;
}

.text-area {
  resize: none;
  min-height: 100px;
}

.btn {
  color: white;
  font-size: 18px;
  font-weight: 500;
  background-color: #1976d2;
  min-width: 64px;
  border: none;
  border-radius: 5px;
  padding: 10px 14px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.btn:hover {
  background-color: #1abd30;
}

.footer {
  width: 100%;
  color: white;
  background-color: #cc6699;
  display: flex;
  flex-direction: row;
  justify-content: normal;
  flex-wrap: nowrap;
  align-items: normal;
  align-items: center;
}
.footer-container {
  padding: 20px 10px;
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: normal;
}

@media screen and (max-width: 1024px) {
  .news-item {
    width: 46%;
  }

  .form-section {
    clear: both;
  }
}
@media screen and (max-width: 419px) {
  h2 {
    text-align: center;
  }

  .header-container {
    gap: 5px;
  }

  .header-text {
    font-size: 20px;
    margin: 5px 0;
    padding: 5px 0;
  }

  .logo {
    width: 50px;
    height: 50px;
  }

  .header {
    height: 240px;
  }

  .main {
    padding-top: 240px;
  }

  .menu {
    text-align: center;
    padding: 0;
  }

  .content {
    width: 100%;
  }

  .sidebar {
    width: 100%;
    max-width: 100%;
  }

  .news-item {
    width: 100%;
  }

  .horizontal-menu ul {
    flex-direction: column;
    gap: 15px;
  }

  .img-right,
.img-left {
    float: none;
    display: block;
    margin: 0 auto;
  }

  .header-container {
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
