*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  font-size: 18px;
  margin: 0;
  color: #333;
  background-color: rgb(246, 246, 253);
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 100px;
  height: 100%;
}

img {
  width: 100%;
}
a {
  color: rgb(57, 48, 82);
}
address {
  font-style: normal;
}

thead {
  background-color: rgb(178, 182, 219);
}
th,
td {
  padding: 5px 5px 5px 0;
  border-bottom: 1px solid #f0f0f0;
}

h3,
h4 {
  padding: 0;
  margin: 0;
}
tr:hover {
  background-color: rgb(226, 226, 226);
  cursor: pointer;
}
label {
  display: inline-block;
}

thead {
  position: sticky;
  top: 0;
}

.header {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: rgb(51, 51, 158);
  height: 100px;
}
.header-container {
  padding: 20px 10px;
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.header-text {
  font-size: 22px;
  color: rgb(223, 223, 223);
}
.logo {
  width: 100%;
  max-width: 100px;
}
.horizontal-menu {
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
}
.horizontal-menu ul {
  list-style: none;
  margin: 0px;
  padding: 10px 0px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
}

.menu-link {
  color: rgb(223, 225, 230);
  font-weight: 500;
  text-decoration: none;
}

.img-left {
  float: left;
  margin: 0 30px 10px 0;
  max-width: 220px;
}
.img-right {
  float: right;
  margin: 0 0px 10px 30px;
  max-width: 220px;
}
.main {
  padding-top: 100px;
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.content {
  width: 70%;
  max-width: 1140px;
  padding: 10px;
}
.sidebar {
  padding: 10px;
  width: 30%;
  max-width: 300px;
}
.radio-blue,
.radio-green {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.radio-blue:checked ~ .table-wrapper table {
  background-color: rgb(215, 217, 241);
}

.radio-green:checked ~ .table-wrapper table {
  background-color: rgb(220, 241, 215);
}
.radio-green:checked ~ .table-wrapper table thead {
  background-color: rgb(131, 204, 113);
}

.table-wrapper {
  margin-top: 20px;
  max-width: 100%;
  max-height: 600px;
  overflow: auto;
  margin-bottom: 50px;
}
.table {
  width: 800px;
  min-width: 100%;
  text-align: left;
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
}

.news-section {
  padding-top: 20px;
  clear: both;
}

.news-container {
  width: 100%;
  border-radius: 5px;
  display: flex;
  gap: 15px;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

.news-item {
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  width: 31%;
  min-width: 200px;
  min-height: 400px;
  overflow: hidden;
}

.news-image-container {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.news-title {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 10px;
  left: 10px;
  max-width: 90%;
  font-weight: 600;
  z-index: 2;
}
.news-image-container a {
  display: block;
  color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  text-decoration: none;
  background-size: cover;
}
.news-title span {
  line-height: 25px;
}
.news-date {
  padding: 10px 10px 5px 10px;
  font-size: 14px;
  color: rgb(158, 158, 158);
}
.news-image-cover {
  width: 100%;
  height: 100%;
  background: rgb(3, 3, 3);
  background: linear-gradient(
    180deg,
    rgba(3, 3, 3, 1) 25%,
    rgba(0, 0, 0, 0) 100%
  );
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.news-image-container img {
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  height: 100%;
}

.news-description {
  margin: 0;
  padding: 5px 10px;
}
.menu {
  list-style: none;
}
.menu-item {
  width: 100%;
  padding: 5px;
}
.menu-item a {
  display: inline-block;
  width: 100%;
}
.menu-item:hover {
  background-color: rgb(228, 228, 228);
  cursor: pointer;
}

.form-section {
  padding: 20px 0;
  margin-bottom: 50px;
}

.form {
  padding: 10px;
  border: 1px solid rgb(170, 170, 170);
  border-radius: 5px;
  max-width: 300px;
}
.form-field {
  margin: 10px 0;
}
.text-area,
.input {
  border: 1px solid #ccc;
  background: none;
  display: block;
  width: 100%;
  padding: 10px 8px;
}

.text-area {
  resize: none;
  min-height: 100px;
}

.btn {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  background-color: #1976d2;
  min-width: 64px;
  border: none;
  border-radius: 5px;
  padding: 10px 14px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover {
  background-color: #1abd30;
}

.footer {
  width: 100%;
  color: rgb(223, 223, 223);
  background-color: rgb(51, 51, 158);
  display: flex;
  align-items: center;
}
.footer-container {
  padding: 20px 10px;
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .news-item {
    width: 46%;
  }

  .form-section {
    clear: both;
  }
}

@media screen and (max-width: 419px) {
  h2 {
    text-align: center;
  }
  .header-container {
    gap: 5px;
  }

  .header-text {
    font-size: 20px;
    margin: 5px 0;
    padding: 5px 0;
  }

  .logo {
    width: 50px;
    height: 50px;
  }
  .header {
    height: 240px;
  }
  .main {
    padding-top: 240px;
  }

  .menu {
    text-align: center;
    padding: 0;
  }
  .content {
    width: 100%;
  }
  .sidebar {
    width: 100%;
    max-width: 100%;
  }
  .news-item {
    width: 100%;
  }
  .horizontal-menu ul {
    flex-direction: column;
    gap: 15px;
  }

  .img-right,
  .img-left {
    float: none;
    display: block;
    margin: 0 auto;
  }

  .header-container {
    flex-direction: column;
  }
}
