{
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": "true",
    "requireConfigFile" : false
  },
  "extends": [
    "airbnb-base",
    "eslint:recommended",
    "prettier"
  ],
  "rules": {
    "class-methods-use-this": 0,
    "no-console": 0,
    "import/extensions": "off",
   "no-underscore-dangle":"off"
  }
}